Kanna/config.py
Kanna/*.session
Kanna/*.session-journal
Kanna/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Kanna/modules/helper_funcs/temp.txt
Kanna/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
megubot.session-journal
updates.txt
